Makefile
*.in
*.o
*.lo
*.deps
*.dirstamp
*.libs
*.la

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.h.in~
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

/src/thot_config.h
/libltdl/
/py-compile
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltargz.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/ltdl.m4
/libtool
/ltmain.sh
/aclocal.m4
/config.*
/_configs.sed

Debug/
Release/
*.vcxproj.user
*.suo
*.ipch
*.sdf
*.opensdf
*.VC.db*
*.VC.opendb
libthot.so
libthot.dylib
*.nupkg
.vs/

# executables
/src/thot_alig_op
/src/thot_calc_bleu
/src/thot_calc_swm_lgprob
/src/thot_check_constraints
/src/thot_client
/src/thot_dhs_step_by_step_min
/src/thot_filter_bin_ilextable
/src/thot_gen_bin_lex_filter_info
/src/thot_gen_phr_model
/src/thot_gen_sw_model
/src/thot_get_srcsents_from_metadata
/src/thot_ilm_perp
/src/thot_li_weight_upd
/src/thot_ll_weight_upd_nblist
/src/thot_lm_perp
/src/thot_lm_weight_upd
/src/thot_merge_bin_ihmmatable
/src/thot_merge_bin_iibm2atable
/src/thot_merge_bin_ilextable
/src/thot_ms_alig
/src/thot_ms_dec
/src/thot_prune_bin_ilextable
/src/thot_query_pm
/src/thot_scorer
/src/thot_server
/src/thot_sort_bin_ihmmatable
/src/thot_sort_bin_iibm2atable
/src/thot_sort_bin_ilextable
/src/thot_wg_proc
/utils/downhill_simplex/thot_dhs_min
/utils/downhill_simplex/thot_dhs_trgfunc_example
/utils/error_correction/thot_augment_nblist
/utils/error_correction/thot_export_wordgraph
/utils/error_correction/thot_extract_sents_from_nbl
/utils/error_correction/thot_merge_nbest_list
/utils/error_correction/thot_obtain_best_trans_from_nbl
/utils/error_correction/thot_remove_nbl_component
/utils/error_correction/thot_rescore_nbest
/utils/exper/thot_auto_smt
/utils/exper/thot_cat_tune
/utils/exper/thot_gen_cfg_file
/utils/exper/thot_gen_partition
/utils/exper/thot_lm_train
/utils/exper/thot_prepare_sys_for_test
/utils/exper/thot_smt_tune
/utils/exper/thot_sys_from_scratch
/utils/exper/thot_tm_train
/utils/exper/thot_trans_test
/utils/incr_models/thot_corpus_represent
/utils/incr_models/thot_dhs_trgfunc_interplm
/utils/incr_models/thot_dhs_trgfunc_jmlm
/utils/incr_models/thot_gen_init_file_with_jmlm_weights
/utils/incr_models/thot_get_ngram_counts
/utils/incr_models/thot_get_ngram_counts_mr
/utils/incr_models/thot_merge_ngram_counts
/utils/incr_models/thot_pbs_get_ngram_counts
/utils/incr_models/thot_pbs_ilm_perp
/utils/incr_models/thot_repetition_rate
/utils/nlp_common/thot_corpus_length
/utils/nlp_common/thot_extract_sents_by_ln
/utils/nlp_common/thot_handle_ini_files
/utils/nlp_common/thot_obtain_info_from_verbose_ppl
/utils/nlp_common/thot_replace_oov_with_unk
/utils/nlp_common/thot_shuffle
/utils/phrase_models/thot_conv_giza_alig_file
/utils/phrase_models/thot_cut_ttable
/utils/phrase_models/thot_filter_ttable
/utils/phrase_models/thot_filter_ttable_given_corpus
/utils/phrase_models/thot_flip_phr
/utils/phrase_models/thot_gen_exhaustive_giza_alig
/utils/phrase_models/thot_gen_fbdb_ttable
/utils/phrase_models/thot_gen_leveldb_ttable
/utils/phrase_models/thot_gen_phr_model_mr
/utils/phrase_models/thot_get_nbest_for_trg
/utils/phrase_models/thot_merge_counts
/utils/phrase_models/thot_merge_seglen_counts
/utils/phrase_models/thot_pbs_alig_op
/utils/phrase_models/thot_pbs_filter_ttable
/utils/phrase_models/thot_pbs_gen_batch_phr_model
/utils/phrase_models/thot_pbs_gen_phr_model
/utils/phrase_models/thot_pbs_get_nbest_for_trg
/utils/phrase_models/thot_sort_ttable
/utils/smt_preproc/thot_categorize
/utils/smt_preproc/thot_clean_corpus_ln
/utils/smt_preproc/thot_decategorize
/utils/smt_preproc/thot_detok_translator
/utils/smt_preproc/thot_detokenize
/utils/smt_preproc/thot_gen_rtfile
/utils/smt_preproc/thot_lowercase
/utils/smt_preproc/thot_rec_translator
/utils/smt_preproc/thot_recase
/utils/smt_preproc/thot_remove_xml_annotations
/utils/smt_preproc/thot_tokenize
/utils/smt_preproc/thot_train_detok_model
/utils/smt_preproc/thot_train_rec_lm
/utils/smt_preproc/thot_train_rec_lm_mr
/utils/smt_preproc/thot_train_rec_tm
/utils/stack_dec/thot_aligner
/utils/stack_dec/thot_calc_wer
/utils/stack_dec/thot_cat_using_client
/utils/stack_dec/thot_conf_interv_cat
/utils/stack_dec/thot_conf_interv_smt
/utils/stack_dec/thot_decoder
/utils/stack_dec/thot_dhs_cat_trgfunc
/utils/stack_dec/thot_dhs_nbl_rescore
/utils/stack_dec/thot_dhs_smt_trgfunc
/utils/stack_dec/thot_extract_hyp_info
/utils/stack_dec/thot_filter_nblist
/utils/stack_dec/thot_gen_nblists
/utils/stack_dec/thot_get_nblist_segm_info
/utils/stack_dec/thot_get_sys_trans
/utils/stack_dec/thot_ll_weight_upd
/utils/stack_dec/thot_nblist_tune
/utils/stack_dec/thot_rnnlm_rescore
/utils/stack_dec/thot_serialize_server_log
/utils/stack_dec/thot_smt_samplesize
/utils/stack_dec/thot_smt_using_client
/utils/sw_models/thot_filter_text_ilextable
/utils/sw_models/thot_format_corpus_csl
/utils/sw_models/thot_gen_batch_sw_model_mr
/utils/sw_models/thot_gen_wigauss_slen_model
/utils/sw_models/thot_get_swm_vocab
/utils/sw_models/thot_merge_text_ihmmatable
/utils/sw_models/thot_merge_text_iibm2atable
/utils/sw_models/thot_merge_text_ilextable
/utils/sw_models/thot_pbs_gen_batch_sw_model
/utils/sw_models/thot_pbs_gen_best_sw_alig
/utils/sw_models/thot_prune_text_ilextable
